#chatBoxContainerDiv {
    width: 400px;
    height: 400px;
    display: block;
    margin-top: 3%;
    margin-left: 3%;
}

#chatContainerDiv {
    width: inherit;
    height: 80%;
    border: 1px solid black;
    overflow-y: auto;
    overflow-x: hidden;
    white-space: nowrap;
    word-wrap: break-word;
}

#messsageSpan {
    width: 50%;
    overflow-x: hidden;
    white-space: normal;
    word-wrap: break-word;
}

#userInputContainerDiv {
    margin-top: 10px;
    width: inherit;
    height: 20%;
    display: flex;
}

#userInputDiv {
    width: 100%;
    height: 40%;
}

#sendButtonDiv {
    width: auto;
    height: 20%;
}

#userInputBox {
    width: inherit;
    margin-right: 10px;
}